@model IEnumerable<Music.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Genres</h2>

<p class="btn btn-warning btn-lg">
    @Html.ActionLink("Add Genre", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    <ul>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   <a href="/Genres/Browse?item=@item.Name">@item.Name</a>
           </tr>

           
        }
    </ul>
    
</table>
