@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-headphones"></span> Music App</h1>
   <p>This is the first version of the Music App </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>
            Browse the complete catalog of albums. Includes full information about the artist, genre, and price.
            Edit, delete, or add new albums here.
        </p>
        <p ><a href="/Albums" class="btn btn-primary btn-lg btn-block">Show album list &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See what music genres are available and find albums in your favorite genre.
        Add new genres.
        New genres can be added here.</p>
        <p>  <a href="/Genres" class="btn btn-success btn-lg btn-block">Browse by Genre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>See what music genres are available and find albums in your favorite genre.
        Add new genres.
        New genres can be added here.</p>
        <p > <a href="/Artists" class="btn btn-warning btn-lg btn-block" >Browse by Artists &raquo;</a></p>
    </div>
</div>